#dat files
*.dat

# Temporal backups
*~

# pyc
*.pyc

# Python pickles
*.pkl

# Matlab .mat files
*.mat

# Binaries
*.o
*.so

# Build and lib directories
build/*
lib/*

# Fits directory
fits/*
*.tar
*.tar.gz

# Cluster job files
*.qsub
*.sbatch

# Large figures
figs/fits_cognition*.pdf
